.filterTitle {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.filterTitle .am-flexbox.am-flexbox-align-center {
    text-align: center;
}
.filterTitle .current {
    color: #21b97a;
}
.filterTitle .selected {
    color: #21b97a;
}